.pokemon {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
  }
.loading-skeleton {
    display: flex;
    align-items: center;
}
.loading-skeleton__name {
    width: 150px;
    height: 20px;
    background-color: #ccc;
    margin-right: 10px;
}
.loading-skeleton__image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
}
  